hr {
    color: rgb(21, 20, 20);

}

thead {
    background-color: rgb(116, 116, 204);
    color: aliceblue;

}

thead tr td {
    color: aliceblue;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

/* table Style */
.table {
    margin-top: 10px;
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
    font-size: 14px;
    /* Increase font-size */
    text-align: center;
}

.table th,
.table td {
    padding: 10px;
    /* Add padding */

}

.table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.table tr.header,
.table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

/* end table style */